<% include('frame.ejs') %>

<body>

    <footer  class="footer">
        <div class="footer-icons">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
        </div>
        <div class="company"> &copy; Tree With Shelter Private Limited </div>
        <div class="footer-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        </footer>
    </body>