<% include('frame.ejs') %>

<body>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
        <img src="/image/company_logo.jpg" alt="logo"> 
      <a class="navbar-brand" href="/listings">Tree With Shelter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/listings">Home</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a> 
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse ms-auto" id="nav2">
        <ul class="navbar-nav">
         <% if(!currUser){%>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">SignUp</a> 
          </li>
        <%}%>
        <%if(currUser){%>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a> 
          </li>
       <% }%>
        </ul>
      </div>
    </div>
  </nav>

  </body>